body {
 
    background-image: url("skull.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
 background-color: #00000;
 
}

h3 {
 background-color: #FFFFFF;
} 
